In [375]:
import pandas as pd
import bs4
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
from itertools import chain
import re

In [376]:
# Scraping story text

my_url = 'https://www.projekt-gutenberg.org/fallada/hoppelpo/chap001.html'

uClient = uReq(my_url)
page_html = uClient.read()
uClient.close()

page_soup = soup(page_html, 'html.parser')

In [377]:
container = page_soup.find_all('p')
container = container[0]

In [378]:
title = container.find_all('h3')
title = str(title[0])

In [379]:
story = container.find_all('p')
paragraphs = []
for i in story:
    paragraphs.append(str(i))

In [380]:
for i in range(len(paragraphs)):
    paragraphs[i] = paragraphs[i].replace('<p>', '')
    paragraphs[i] = paragraphs[i].replace('</p>', '')

In [381]:
words = []
try:
    for i in range(len(paragraphs)):
        for j in range(len(paragraphs[i])):
            words.append(paragraphs[j].split(' ')) 
except:
    pass

In [382]:
# Flatten nested lists in words

words = list(chain.from_iterable(words))

In [383]:
for i in range(len(words)):
        words[i] = words[i].strip()
        words[i] = words[i].replace('\xa0...', '')
        words[i] = words[i].replace('<a', '')
        words[i] = words[i].replace('</a>', '')
        words[i] = words[i].replace('\n', '')
        words[i] = words[i].replace('-', '')
        words[i] = words[i].replace('–', '')
        words[i] = words[i].replace('.', '')
        words[i] = words[i].replace(':', '')
        words[i] = words[i].replace(',', '')
        words[i] = words[i].replace('>', '')
        words[i] = words[i].replace('<', '')
        words[i] = words[i].replace('›', '')
        words[i] = words[i].replace('‹', '')
        words[i] = words[i].replace('?', '')
        words[i] = words[i].replace('!', '')
        words[i] = words[i].replace('«', '')
        words[i] = words[i].replace('»', '')
        words[i] = words[i].replace('(', '')
        words[i] = words[i].replace(')', '')
        words[i] = words[i].replace(' ', '')
#        words[i] = words[i].replace('title=["]lac/Dieter7["]/a', '')
#        words[i] = words[i].replace('title=["]suru/Dieter7["]/a', '')
#        words[i] = words[i].replace('title=["]Dieter7/lac["]', '')
        words[i] = re.sub(str('id='+'"'+'page\d'+'"'), '', words[i])
        words[i] = re.sub(str('name='+'"'+'page\d'+'"'), '', words[i])

In [384]:
df = pd.DataFrame(words)

In [385]:
df.column = 'text'

In [390]:
df.reset_index(inplace = True)

In [392]:
df.columns = ['rank', 'text']
df['text2'] = ''

In [393]:
for i in range(len(df)):
    if i < len(df):
        try:
            df['text2'][i] = df.text[i+1] 
        except:
            pass

<ipython-input-393-0c0e0240cf1f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text2'][i] = df.text[i+1]

KeyError: 1341

In [394]:
df

      rank                 text                text2
0        0                   Es                  war
1        1                  war               einmal
2        2               einmal                  ein
3        3                  ein              kleiner
4        4              kleiner                Junge
...    ...                  ...                  ...
1336  1336
1337  1337
1338  1338
1339  1339                       title="Dieter7/lac"
1340  1340  title="Dieter7/lac"

[1341 rows x 3 columns]