In [316]:
import pandas as pd
import bs4
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
from itertools import chain
import re

In [317]:
# Scraping story text

my_url = 'https://www.projekt-gutenberg.org/fallada/hoppelpo/chap001.html'

uClient = uReq(my_url)
page_html = uClient.read()
uClient.close()

page_soup = soup(page_html, 'html.parser')

In [318]:
container = page_soup.find_all('p')
container = container[0]

In [319]:
title = container.find_all('h3')
title = str(title[0])

In [320]:
story = container.find_all('p')
paragraphs = []
for i in story:
    paragraphs.append(str(i))

In [321]:
for i in range(len(paragraphs)):
    paragraphs[i] = paragraphs[i].replace('<p>', '')
    paragraphs[i] = paragraphs[i].replace('</p>', '')

In [322]:
words = []
try:
    for i in range(len(paragraphs)):
        for j in range(len(paragraphs[i])):
            words.append(paragraphs[j].split(' ')) 
except:
    pass

In [323]:
# Flatten nested lists in words

words = list(chain.from_iterable(words))

In [329]:
for i in range(len(words)):
        words[i] = words[i].strip()
        words[i] = words[i].replace('\xa0...', '')
        words[i] = words[i].replace('<a', '')
        words[i] = words[i].replace('</a>', '')
        words[i] = words[i].replace('\n', '')
        words[i] = words[i].replace('-', '')
        words[i] = words[i].replace('–', '')
        words[i] = words[i].replace('.', '')
        words[i] = words[i].replace(':', '')
        words[i] = words[i].replace(',', '')
        words[i] = words[i].replace('>', '')
        words[i] = words[i].replace('<', '')
        words[i] = words[i].replace('›', '')
        words[i] = words[i].replace('‹', '')
        words[i] = words[i].replace('?', '')
        words[i] = words[i].replace('!', '')
        words[i] = words[i].replace('«', '')
        words[i] = words[i].replace('»', '')
        words[i] = words[i].replace('(', '')
        words[i] = words[i].replace(')', '')
        words[i] = words[i].replace(' ', '')
        words[i] = words[i].replace('title=["]lac/Dieter7["]/a', '')
        words[i] = words[i].replace('title=["]suru/Dieter7["]/a', '')
        words[i] = words[i].replace('title=["]Dieter7/lac["]', '')
        words[i] = re.sub(str('id='+'"'+'page\d'+'"'), '', words[i])
        words[i] = re.sub(str('name='+'"'+'page\d'+'"'), '', words[i])

In [331]:
df = pd.DataFrame(words)

In [333]:
df.tail(20)

                        0
1321                biese
1322                sagte
1323                  der
1324                Vater
1325              langsam
1326              Komisch
1327            plötzlich
1328                  war
1329                  die
1330                 Welt
1331               wieder
1332                   in
1333              Ordnung
1334
1335
1336
1337
1338
1339
1340  title="Dieter7/lac"

In [328]:
word = 'sentirad test'

for before, after in [(r're$','u'),(r'ir\w+ \w+',''),(r'er$','e')]:
    changed_word, substitutions  = re.subn(r'ir\w+ \w+','', words[i])
    if substitutions:
        print(changed_word)
        break
else:
    print("nope")

nope